<div class="row">
  <div class="col-6">
    <legend i18n>iSCSI Topology</legend>

    <cd-tree [data]="nodes"
             (nSelect)="onNodeSelected($event)"
             [nameTpl]="nameTpl">
    </cd-tree>
  </div>

  <div class="col-6 metadata"
       *ngIf="data">
    <legend>{{ title }}</legend>

    <cd-table #detailTable
              [data]="data"
              columnMode="flex"
              [columns]="columns"
              [limit]="0">
    </cd-table>
  </div>
</div>

<ng-template #highlightTpl
             let-row="row"
             let-value="value">
  <span *ngIf="row.default === undefined || row.default === row.current">{{ value }}</span>
  <strong *ngIf="row.default !== undefined && row.default !== row.current">{{ value }}</strong>
</ng-template>

<ng-template #nameTpl
             let-node>
  <i [class]="node.other?.cdIcon"></i>
  <span>{{ node.name }}</span>
  &nbsp;
  <span class="badge"
        *ngIf="node?.other?.status"
        [ngClass]="{'badge-success': ['logged_in'].includes(node.other.status), 'badge-danger': ['logged_out'].includes(node.other.status)}">
    {{ node.other.status }}
  </span>
</ng-template>
