<cd-view-cache *ngFor="let viewCacheStatus of viewCacheStatusList"
               [status]="viewCacheStatus.status"
               [statusFor]="viewCacheStatus.statusFor"></cd-view-cache>

<cd-table [data]="images"
          columnMode="flex"
          [columns]="columns"
          identifier="id"
          forceIdentifier="true"
          selectionType="single"
          (updateSelection)="updateSelection($event)">
  <div class="table-actions btn-toolbar">
    <div class="btn-group"
         dropdown>
      <button type="button"
              class="btn btn-sm btn-primary"
              [disabled]="!selection.hasSingleSelection"
              (click)="restoreModal()">
        <i class="fa fa-fw fa-undo"></i>
        <span i18n>Restore</span>
      </button>
      <button type="button"
              dropdownToggle
              class="btn btn-sm btn-primary dropdown-toggle dropdown-toggle-split">
        <span class="caret"></span>
        <span class="sr-only"></span>
      </button>
      <ul *dropdownMenu
          class="dropdown-menu"
          role="menu">
        <li role="menuitem"
            [ngClass]="{'disabled': !selection.hasSingleSelection || selection.first().executing}">
          <a class="dropdown-item"
             (click)="restoreModal()">
            <i class="fa fa-fw fa-undo"></i>
            <span i18n>Restore</span>
          </a>
        </li>
        <li role="menuitem"
            [ngClass]="{'disabled': !selection.hasSingleSelection || selection.first().executing}">
          <a class="dropdown-item"
             (click)="deleteModal()">
            <i class="fa fa-fw fa-times"></i>
            <span i18n>Delete</span>
          </a>
        </li>
      </ul>
    </div>

    <button class="btn btn-sm btn-default btn-label"
            type="button"
            (click)="purgeModal()">
      <i class="fa fa-fw fa-times"
         aria-hidden="true"></i>
      <ng-container i18n>Purge Trash</ng-container>
    </button>
  </div>
</cd-table>
