/* You can add global styles to this file, and also import other style files */
@import '~font-awesome/css/font-awesome.css';
@import '~bootstrap/dist/css/bootstrap.css';
@import './assets/AdminLTE-2.3.7/dist/css/AdminLTE.min.css';
@import './assets/AdminLTE-2.3.7/dist/css/skins/skin-blue.min.css';
@import './assets/AdminLTE-2.3.7/plugins/datatables/jquery.dataTables.min.css';

div.box {
  background-color: #222d32;
  color: #fff;
}

div.info-box {
  background-color: #222d32;
  color: #fff;
}

.box {
  border-top-color: #b8c7ce;
}

div.box-header {
  color: #b8c7ce;
}

a.logo {
  background-color: #222d32;
}

body {
  background-color: #222d32;
}

.navbar {
  background-color: #222d32;
  color: #222d32;
}

div#content {
  background-color: #424d52;
  color: #ddd;
}

div.progress-bar {
  border-width: 1px;
  border-color: #ddd;
}

.ceph-log {
  font-family: monospace;
  background-color: #333;
  color: #ddd;
}

.nav-tabs>li.active>a {
  background-color: #424d52;
  color: #ddd;
}

.navbar a {
  color: #b8c7ce;
}

.ceph-none-found {
  color: #8aa4af;
  font-style: italic;
  padding-left: 15px;
  padding-right: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
}

table.ceph-chartbox {
  margin-left: 40px;
}

.ceph-chartbox td {
  padding-left: 35px;
  text-align: center;
  font-weight: bold;
}

.chart-container {
  width: 100%;
  height: 100%;
}

.dataTables_wrapper .dataTables_filter {
  color: #ddd
}

.dataTables_wrapper .dataTables_filter input {
  color: #222d32
}

.dataTables_wrapper tbody td {
  background-color: #424d52;
  color: #ddd;
}

.dataTables_wrapper .dataTables_paginate .ellipsis {
  color: #ddd !important
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
  color: #ddd !important
}

.dataTables_wrapper .dataTables_paginate .paginate_button.disabled {
  color: #424d52 !important
}

.nav-tabs-custom {
  background-color: #222d32;
  color: #ddd;
}
.nav-tabs-custom>.nav-tabs>li{
  margin-right: 0;
}
.nav-tabs-custom>.nav-tabs>li>a{
  border-bottom-color: transparent;
  color: #aaa;
}
.nav-tabs-custom>.nav-tabs>li.active>a{
  background-color: #424d52;
  color: #eee;
}
.nav-tabs-custom>.nav-tabs>li.active:hover>a{
  background-color: #66777f;
  color: #eee;
}
.nav-tabs-custom>.tab-content {
  background-color: #424d52;
  color: #eee;
}
