<!-- Page Header -->
<section class="content-header">
  <h1 style="font-weight:bold">
    Monitors
  </h1>
</section>

<!-- Main content -->
<section class="content text-center" *ngIf="contentData">
  <div class="row">
    <div class="col-md-4">
      <div class="box text-left"
           style="font-size:13.4px">
        <table class="table table-bordered">
          <tr>
            <td>
              <span style="color:yellow; font-weight:bold">Cluster ID: </span>
            </td>
            <td>{{ contentData.mon_status.monmap.fsid }}
            </td>
          </tr>
          <tr>
            <td>
              <p>
                <span style="color:yellow; font-weight:bold">monmap modified: </span>
            </td>
            <td> {{ contentData.mon_status.monmap.modified }}
            </td>
          </tr>
          <tr>
            <td>
              <p>
                <span style="color:yellow; font-weight:bold">monmap epoch: </span>
            </td>
            <td> {{ contentData.mon_status.monmap.epoch }}
            </td>
          </tr>
          <tr>
            <td>
              <p>
                <span style="color:yellow; font-weight:bold">quorum con: </span>
            </td>
            <td> {{ contentData.mon_status.features.quorum_con }}
            </td>
          </tr>
          <tr>
            <td>
              <p>
                <span style="color:yellow; font-weight:bold">quorum mon: </span>
            </td>
            <td> {{ contentData.mon_status.features.quorum_mon }}
            </td>
          </tr>
          <tr>
            <td>
              <p>
                <span style="color:yellow; font-weight:bold">required con: </span>
            </td>
            <td> {{ contentData.mon_status.features.required_con }}
            </td>
          </tr>
          <tr>
            <td>
              <p>
                <span style="color:yellow; font-weight:bold">required mon: </span>
            </td>
            <td> {{ contentData.mon_status.features.required_mon }}
            </td>
          </tr>
        </table>
      </div>
    </div>
    <div class="col-md-8">
      <div class="box">
        <h3 style="color:#00bb00;font-weight:bold">IN QUORUM</h3>
        <div class="box-body">
          <table class="table table-bordered text-center">
            <thead>
              <th>Name</th>
              <th>Rank</th>
              <th>Public Addr</th>
              <th>Open Sessions</th>
            </thead>
            <tr *ngFor="let mon of contentData.in_quorum"
                style="font-size:15px;height:80px">
              <td style="font-weight:bold">{{ mon.name }}</td>
              <td>{{ mon.rank }}</td>
              <td>{{ mon.public_addr }}</td>
              <td>
                <span class="inlinesparkline"
                      style="font-size:30px">{{ mon.stats.num_sessions | monitorSparklineData }}</span>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="box">
    <h3 style="color:#00bb00; font-weight:bold">NOT IN QUORUM</h3>
    <div class="box-body">
      <table class="table table-bordered text-center">
        <thead>
          <th>Name</th>
          <th>Rank</th>
          <th>Public Addr</th>
        </thead>
        <tr *ngFor="let mon of contentData.out_quorum"
            class="font-size:15px;height:80px">
          <td style="font-weight:bold">{{ mon.name }}</td>
          <td>{{ mon.rank }}</td>
          <td>{{ mon.public_addr }}</td>
        </tr>
      </table>
    </div>
  </div>
</section>
