<div class="row">
  <div class="col-sm-12 col-lg-12">
    <div class="card">
      <div class="card-header"
           i18n>CRUSH map viewer</div>
      <div class="card-body">
        <div class="row">
          <div class="col-sm-6 col-lg-6">
            <i *ngIf="loadingIndicator"
               [ngClass]="[icons.large, icons.spinner, icons.spin]"></i>

            <cd-tree [data]="nodes"
                     (selectNode)="onNodeSelected($event)"
                     [nameTpl]="nameTpl">
            </cd-tree>
          </div>
          <div class="col-sm-6 col-lg-6 metadata"
               *ngIf="metadata">
            <legend>{{ metadataTitle }}</legend>
            <cd-table-key-value [data]="metadata"></cd-table-key-value>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #nameTpl
             let-node>
  <span *ngIf="node.other.status"
        class="badge"
        [ngClass]="{'badge-success': ['in', 'up'].includes(node.other.status), 'badge-danger': ['down', 'out', 'destroyed'].includes(node.other.status)}">
    {{ node.other.status }}
  </span>
  <span>&nbsp;</span>
  <span class="node-name"
        [ngClass]="{'type-osd': node.other.type === 'osd'}"
        [innerHTML]="node.name"></span>
</ng-template>

