.logo {
  // background-image: url(../../../../assets/Ceph_Logo.svg);
  mask: url(../../../../assets/Ceph_Logo.svg);
}

.logo {
  display: inline-block;
  width: 70px;
  height: 70px;
  mask-size: cover;
  background: black;
}

.logo:hover,
.logo:focus {
  // filter: invert(50%) sepia(49%) saturate(5225%) hue-rotate(328deg) brightness(90%) contrast(109%);
  background: red;
}
