<ng-container *ngIf="state === 'STARTING'">
  <i class="fa fa-spinner fa-spin fa-fw"></i>
  <span i18n>Starting...</span>
</ng-container>

<ng-container *ngIf="state === 'STOPPING'">
  <i class="fa fa-spinner fa-spin fa-fw"></i>
  <span i18n>Stopping...</span>
</ng-container>

<ng-container *ngIf="state === 'ACTIVE'">
  <span i18n>Running</span>
</ng-container>

<ng-container *ngIf="state === 'INACTIVE'">
  <i class="fa fa-angle-double-down fa-lg icon-danger"></i>
  <span i18n>Stopped</span>
</ng-container>

<ng-container *ngIf="state === 'LOADING'">
  <i class="fa fa-spinner fa-spin fa-fw"></i>
  <span i18n>Loading...</span>
</ng-container>
