<section class="content-header">
  <h1>
    Clients of
    <a rv-href="fs_url">{{fs_name}}</a>
  </h1>
</section>

<section class="content">
  <div class="box">
    <div class="box-body">
      <cd-table [rows]="content_data.clients">
          <ngx-datatable-column name="ID" prop="id"></ngx-datatable-column>
          <ngx-datatable-column name="Type" prop="type"></ngx-datatable-column>
          <ngx-datatable-column name="State" prop="state"></ngx-datatable-column>
          <ngx-datatable-column name="Version" prop="version"></ngx-datatable-column>
          <ngx-datatable-column name="Host" prop="hostname"></ngx-datatable-column>
          <ngx-datatable-column name="Root" prop="root"></ngx-datatable-column>
      </cd-table>
    </div>
  </div>


</section>
<!-- /.content -->
